@{
    ViewData["Title"] = "About";
}
<article class="mainPageArticle">
    <h2>@ViewData["Title"]</h2>
 
    <br />
    <p>Here at LDS Movies, we are committed to providing streaming services for wholesome LDS movies that are good for the entire family. Services include monthly subscriptions or pay-per-view. </p>
    <p>LDS Movies was started in November of 2018 by Jason Chantry. He identified a need for streaming services of movies for families like yours based on a requirement in Brother Blazzard's CIT365 class. </p>
    <br />
    <br />
</article>