@{
    ViewData["Title"] = "Contact";
}
<article class="mainPageArticle">
    <h2>@ViewData["Title"]</h2>


    <address>
        One LDS Movie Way<br />
        Ogden, UT 84404<br />
        <abbr title="Phone">P:</abbr>
        801.555.5555
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@LDSMovies.com</a><br />
        <strong>El Presidente:</strong> <a href="mailto:Marketing@example.com">ElPresidente@LDSMovies.com</a>
    </address>
</article>