@{
    ViewData["Title"] = "Home Page";
}

<article class="mainPageArticle">
    <img src="~/images/ReignofJudges.jpg" title="Reign of Judges Image" alt="ReignofJudgesImage" />
    <aside class="menuAside">
        <h2>LDS Movies</h2>
        
        <a asp-area="" asp-controller="Movies" asp-action="Index" class="navbar-brand">View and Search our movies</a>
        <hr />
        <a href="#" class="navbar-brand">Sign-up for a free Trial!</a>


    </aside>
    <aside class="bottomAside">
        <p>Sign up today to get access to our library of LDS movies! Stream to any device for one low monthly rate, or you can create an account and use our pay per view option.</p>
    </aside>

</article>
